<div class="content-04">
  <p class="text"><a href="{{ article.url }}">{{ article.title }}</a><br/>{{ article.created_at | date: "%b %d" }}</p>
  <p class="text01">
    {{ article.content }}
  </p>
</div>                         
